/* Home.css */

/* Stil für den ersten Abschnitt */
.home-container {
    min-height: 100vh; /* Mindesthöhe des Viewports */
    background-image: url('/public/image/home_image.png'); /* Pfad zum Hintergrundbild */
    background-size: cover; /* Bildgröße anpassen */
    background-position: center; /* Zentrieren des Hintergrundbildes */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-bottom: 100px; /* Platz für den Footer */
    overflow: hidden; /* Verhindert das Überlaufen der schrägen Kanten */
  }
  
  .hero-section {
    transform: skewY(-3deg); /* Schräge für die obere Kante */
    background-color: rgba(0, 0, 0, 0.5); /* Hintergrundfarbe für den Textbereich */
    padding: 50px 0; /* Vertikaler Abstand */
    width: 100%; /* Volle Breite */
  }
  
  .hero-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Schatten für bessere Lesbarkeit */
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .hero-text p {
    font-size: 1.5rem;
    margin: 0;
  }
  
  /* Stil für die zweite Section */
  .second-home-container {
    min-height: 100vh; /* Mindesthöhe des Viewports */
    background-image: url('/public/image/home_to_portrait.png'); /* Pfad zum Hintergrundbild */
    background-size: cover; /* Bildgröße anpassen */
    background-position: center left; /* Hintergrundbild links ausrichten */
    justify-content: left;
    align-items: center;
    color: white;
    overflow: hidden; /* Verhindert das Überlaufen der schrägen Kanten */
  }
  
  .second-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Hintergrundfarbe für den Textbereich */
    width: 50%; /* Nur die linke Hälfte des Bildschirms */
    padding: 25px;
    margin-left: 0px;
  }
  
  .second-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Schatten für bessere Lesbarkeit */
  }
  
  .second-text h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .second-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: opacity 0.3s ease;
  }
  
  .btn:hover {
    opacity: 0.8;
  }  
  
.third-home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
  }
  
  .third-home-container img {
    width: 40%; /* Breite des Bildes anpassen */
    max-width: 400px; /* Maximale Breite des Bildes */
    height: auto; /* Automatische Höhe basierend auf Breite */
    border-radius: 10px;
    margin-left: 12%; /* Abstand links vom Bild */
  }
  
  .third-home-container h1 {
    font-size: 2.2rem;
    margin-left: 5%; /* Abstand links vom Titel */
  }
  
  .third-home-container .btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    display: block; /* Button als Blockelement anzeigen */
    margin-top: 20px; /* Abstand zum Titel */
    width: 101px;
    text-align: center;
    margin-left: 5%;
  }
  
  .third-home-container .btn:hover {
    opacity: 0.8;
  }

  .fourth-home-container {
    display: flex;
    justify-content: space-around; /* Gleichmäßiger Abstand zwischen den Elementen */
    margin-top: 50px; /* Abstand nach oben */
    margin-bottom: 50px;
  }
  
  .fourth-home-container img {
    width: 200px; /* Festgelegte Breite der Bilder */
    height: auto; /* Automatische Höhe basierend auf Breite */
    border-radius: 10px; /* Abgerundete Ecken */
  }
  
  