
.footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Geändert zu align-items: flex-start */
  flex-wrap: wrap;
  bottom: 0;
  width: auto;
}

.footer-left {
  flex: 1;
  margin-left: 7%;
}

.footer-right {
  flex: 1;
  text-align: right;
  margin-right: 7%; /* Geändert zu 7% für gleichmäßigen Abstand */
}


.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0; /* Hinzugefügt, um den standardmäßigen Margin zu entfernen */
}

.contact-info p {
  margin: 5px 0;
}

.social-icons {
  display: inline-flex;
  align-items: center; /* Hinzugefügt, um die Icons vertikal zu zentrieren */
}

.social-icons a {
  color: white;
  font-size: 1.5rem;
  margin-right: 10px;
  text-decoration: none;
}

.social-icons a:hover {
  opacity: 0.8;
}

.copyright {
  flex-basis: 100%;
  text-align: left;
  padding: 0.5rem 0;
  font-size: 11px;
  margin-left: 7%;
}
/* Responsive Anpassungen */
@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Ändert die Richtung des Flex-Layouts */
    align-items: center; /* Zentriert die Items */
    text-align: center; /* Zentriert den Text */
  }
  
  .footer-left,
  .footer-right {
    margin: 0; /* Entfernt den Margin für kleinere Bildschirme */
    width: 100%; /* Macht die Breite der Abschnitte 100% */
    text-align: center; /* Zentriert den Text für kleinere Bildschirme */
    margin-bottom: 20px; /* Fügt einen unteren Margin hinzu für besseren Abstand */
  }

  .footer-left {
    margin-bottom: 40px; /* Fügt Abstand nach unten für besseren Abstand hinzu */
  }

  .copyright {
    margin-left: 0; /* Entfernt den linken Margin für kleinere Bildschirme */
    text-align: center; /* Zentriert den Text */
  }
  .contact-info{
    align-items: center;
  }
}