
nav {
    background-color: #333;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    top: 0;
    left: 0;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  
  .logo img {
    height: 40px; /* oder eine andere passende Höhe */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-right: 3rem;
  }
  
  nav ul li {
    margin: 0 1rem;
    position: relative;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 1rem;
  }
  
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s;
  }
  
  @media (max-width: 768px) {
    nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
    }
    
    nav ul.active {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }